My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8b7b1a8b-a0fc-48d0-a5d7-57a48dc05939",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "VV2SwWSaZ7pTPXsU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7dc96f76-c1e5-489c-bddb-d227d779fb84",
              "name": "emailBody",
              "value": "fx{{$json.snippet}}",
              "type": "string"
            },
            {
              "id": "82632016-f053-43c7-9cec-8b05dd11f31f",
              "name": "threadID",
              "value": "={{$json.threadId}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "1e6b4f11-d47b-4fb6-8f83-0205515042ce",
      "name": "Set Content"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"phi3\",\n  \"prompt\": \"Reply to the email below in a simple and direct way.\\n\\nRules:\\n- Only respond to what is explicitly written.\\n- Do not add new names or scenarios.\\n- Do not create business context.\\n- Keep response under 2 sentences.\\n- Match the tone.\\n- Sign as Srinidhi.\\n\\nEmail:\\n{{$json.emailBody}}\\n\\nReply:\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "9ee8c362-dac4-4fe1-9430-07feeb820288",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "20856e9f-8f0a-406d-b6ab-64da465b1eff",
              "leftValue": "={{$json.from.value[0].address}}",
              "rightValue": "mail.joinsuperhuman.ai",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "ba8dba5b-2ec9-4bbd-87a3-c9c5ef3e2665",
              "leftValue": "={{$json.subject}}",
              "rightValue": "newsletter",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "696b0b9e-ea9b-4947-a90a-d7c3af86d545",
              "leftValue": "={{$json.labelIds.join(\",\")}}",
              "rightValue": "=SENT",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "cacb9fff-e55b-4df6-a8e0-900b53348f6c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{$json.id}}",
        "message": "={{$json.response}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        16
      ],
      "id": "e818692c-48c6-40ba-8e39-dd6cce712c13",
      "name": "Reply to a message",
      "webhookId": "0dad4cec-a25e-4f80-a543-04afa661f480",
      "credentials": {
        "gmailOAuth2": {
          "id": "VV2SwWSaZ7pTPXsU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        752,
        -160
      ],
      "id": "11144494-8b28-4433-8d92-47e3f1cc251a",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Content": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fcd4d308-ee31-409c-bf70-4d5e7c395517",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f0982a2489e1438c04b4a581efa945e9d20a34586692df2bb93bffd5c1e2059"
  },
  "id": "nubS8e6iyb94fQf2",
  "tags": []
}